<html>
<head>
    <title>Main page </title>
 
   
</head>
<body>
  
  <div class="container">
      <br/>
    <%- include("../partial/nav.ejs") -%>

</div>
<%- include("../partial/bootstrap.ejs") -%>
</body>

</html>