



<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(170, 189, 241);">
    <div class="navbar-brand bg-info p-2" href="#">welcom <%=locals.name%></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link " href="/admin/list">Speakers List</a>
        <a class="nav-item nav-link" href="/event/add">events Add</a>
        <a class="nav-item nav-link" href="/event/list">events List</a>
        <a class="nav-item nav-link" href="/speaker/logout">logout</a>
     
      </div>
    </div>
  </nav>